.content {
    --ion-background-color: #0db498;
    .content__logo {
        position: absolute;
        width: 8rem;
        height: 15rem;
        margin-top: 9rem;
        margin-left: 30%;
    }
}
.card {
    width: 94.5%;
    padding: 10px;
    margin-top: 10rem;
    left: 47%;
    transform: translate(-50%, 90%);
    border-radius: 0.625rem;
    box-shadow: none;
    --ion-background-color: #078671;
    ion-item {
        color: white;
    }
}
ion-button {
    margin-top: 7.8rem;
    background-color: #078671;
    border-radius: 0.625rem;
    width: 94.5%;
    margin-left: 2.5%;
}
